@{
  Layout = "_Layout";
}

@model SweetShop.Models.Treat

<div class="viewContainer">
  <h2>Edit</h2>
  <hr />

  <h4>@Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    <span class="form-control">@Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)</span>
    <span class="form-control">@Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)</span>

    <span class="form-control">@Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")</span>

    <input type="submit" value="Save" />
  }

  <p>@Html.ActionLink("Back to list", "Index", null, null, new { @class = "btn btn-primary btn-large" })</p>
</div>