@{
  Layout = "_Layout";
}

@using SweetShop.ViewModels

@model RegisterViewModel

<div class="viewContainer">
  <h2>Register a new user</h2>
  <hr />
  @using (Html.BeginForm("Register", "Account", FormMethod.Post))
  {
      <span class="form-control">@Html.LabelFor(user => user.UserName)
      @Html.TextBoxFor(user=> user.UserName)</span>

      <span class="form-control">@Html.LabelFor(user=> user.Password)
      @Html.PasswordFor(user=> user.Password)</span>

      <span class="form-control">@Html.LabelFor(user=> user.ConfirmPassword)
      @Html.PasswordFor(user=> user.ConfirmPassword)</span>

      <input type="submit" value="Register" class="btn btn-primary btn-large"/>
  }
</div>