@{
  Layout = "_Layout";
}

@model SweetShop.Models.Flavor
<div class="viewContainer">
  <h2>Edit</h2>
  <hr />
  <h4>@Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    <span class="form-control">@Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)</span>

    <input type="submit" value="Save" />
  }
  <p>@Html.ActionLink("Flavor List", "Index", null, null, new { @class = "btn btn-primary btn-large" })</p>
</div>